<p id="notice"><%= notice %></p>

<p>
  <strong>Shop Name</strong>
  <%= @shop.shop_name %>
</p>

<p>
  <strong>Description</strong>
  <%= @shop.description %>
</p>

<% if @shop.categories.any? %>
  <p>
    <strong>Categories for this shop:</strong>
    <% @shop.categories.each do |cat| %>
      <span><%= cat.service %> / </span>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
