<!DOCTYPE html>
<html>
  <head>
    <title>ProdTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="color:blue;text-align: left;display: inline-block;margin-left: 10px;margin-right: auto;">
      <% if user_signed_in? %>
        <%= link_to current_user.email, 'http://www.yahoomail.com' %>
        <%= link_to "Signout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "SignUp", new_user_registration_path %>
        <%= link_to "Signin", new_user_session_path %>
      <% end %>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
